<h1>You've added a new Place!</h1>
<p>@Model.GetName()</p>
<img src="@Model.GetPicture()" alt="Your Picture">
<p>@Model.GetTime()</p>
<p><a href="/">Add another place</a></p>
<p><a href="/places/list">Here are the places you have been</a></p>
