<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>places</title>
  </head>
  <body>
    <h1>List of Places</h1>
    <form action="/places/create" method="post">
      <label for="placeName">Where did you visit?</label>
      <input type="text" name="placeName" id="placeName">
    <br>
      <label for="placePicture">Link to a picture:</label>
      <input type="text" name="placePicture" id="placePicture" button="submit">
    <br>
      <label for="placeTime">Time of your visit:</label>
      <input type="text" name="placeTime" id="placeTime">
    <br>
      <button type="submit" name="btnSubmit" class="btn btn-success">Add place!</button>
    </form>
  </body>
</html>
